<footer>
  <content>
    <div class="copyright">&copy; 2018 Collective Logic Ltd</div>

    <div class="social">
      <ul>
        <li>
          <a href="https://www.linkedin.com/company-beta/11159490" class="linkedin"><span>Linkedin</span></a>
        </li><li>
          <a href="https://twitter.com/collectivelgc" class="twitter"><span>Twitter</span></a>
        </li>
      </ul>
    </div>

    <div class="registered">
      <address>
        <dl>
          <dd>Collective Logic Ltd</dd>
          <dd>Campus North 5 Sunco House</dd>
          <dd>Carliol Square</dd>
          <dd>Newcastle Upon Tyne</dd>
          <dd>United Kingdom, NE1 6UF</dd>
        </dl>
        <div>Registered in England & Wales. Co. number 10696079</div>
      </address>


    </div>
  </content>
</footer>
