<footer>
  <content>
    <div class="social">
      <ul>
        <li>
          <a href="https://www.linkedin.com/company/collectivelogic/" target="_blank"><i class="fab fa-linkedin"></i><span>Linkedin</span></a>
        </li><li>
          <a href="https://twitter.com/collectivelgc" target="_blank"><i class="fab fa-twitter-square"></i><span>Twitter</span></a>
        </li>
      </ul>
    </div>

    <div class="registered">
      <address>
        <dl>
          <dt>Collective Logic Ltd</dt>
          <dd>THE CORE</dd>
          <dd>Science Central, Bath Lane</dd>
          <dd>Newcastle upon Tyne</dd>
          <dd>United Kingdom, NE4 5TF</dd>
        </dl>
        <div>Registered in England & Wales. Co. number 10696079</div>
      </address>


    </div>
  </content>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
