/**
 * Sizes
 */
$content-max-width: 1200px;
$content-min-width: 768px;
$content-small-width: 580px;
$mobile-min-width: 300px;

/**
 * Colours
 */
$white: #f6f6f6;
$white-light: #fff;
$white-dark: #e0e0e0;
$black: #090909;
$black-light: #202020;

$primary-main: #0f545d;
$primary-light: #9bc0c7;
$primary-dark: #01282f;

$primary-link: #dc7840;
$primary-link-hover: #f58d25;
$primary-link-active: #f58d25;

$secondary-main: #363738;
$secondary-light: #888a8c;

/**
 * Buttons
 */
$btn-primary-color: $white;
$btn-primary-bg: #dc7840;
$btn-primary-border: #dc7840;
$btn-primary-bg-hover: #f58d25;
$btn-primary-border-hover: #f58d25;
