<!doctype html>

<html lang="en">

    {% include head.html %}

    <body>
        <div class="cl-container">
            {% include header.html %}

            {% if page.heroImage %}
            <section class="hero" style="background-image: url('/assets/images/{{ page.heroImage }}');">
                {% if page.heroImage %}
                <h2><span>{{ page.heroTitle }}</span></h2>
                {% endif %}
            </section>
            {% endif %}

            <main>
                <content>
                    {% if page.aside %}
                    <div class="row">
                        <div class="main">
                            {{ content }}
                        </div>

                        <aside>
                            <!-- TODO: how to deliver this content dynamically? -->
                            <h3>What we do</h3>
                            <ul>
                                <li>Business development</li>
                                <li>User experience &amp; digital design</li>
                                <li>Software architecture &amp; design</li>
                                <li>Cloud infrastructure &amp; hosting</li>
                                <li>Agile software development</li>
                            </ul>
                        </aside>
                        {% else %}
                        {{ content }}
                        {% endif %}
                    </div>
                </content>
            </main>

            {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
